In [ ]:
x=[2,3,6]
sum=1
for i in x:
  sum=sum* i
print(sum)

36

In [5]:
#question 2 
x= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(x)-1):
  for k in range(len(x)-1):
    if x[i][1] > x[i+1][1]:
      x[i],x[i+1] = x[i+1],x[1]

 
print(x)

[(1, 2), (1, 2), (1, 2), (2, 1), (1, 2)]

In [8]:
#question 3
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = dict(d1)
d3.update(d2)


for x,y in d1.items():
  for h,a in d2.items():
    if x==h:
      d3[x]=(y+a)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [24]:
#question4 
d1 = {'1': 1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8}

d2 = {'1': 1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8}

d3 =dict(d1)
d3.update(d2)
for x,y in d1.items():
  for h,a in d2.items():
   if x==h:
    d3[x]=(y*a)
print(d3)

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64}

In [13]:
# question 5 
x = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
for i in range(len(x)-1):
   for  k in range(len(x)-1):
     if float(x[i][1]) < float(x[i+1][1]):
       x[i],x[i+1] = x[i+1],x[i]
print(x)

[('item2', '15.10'), ('item3', '24.5'), ('item1', '12.20')]